
*{
  box-sizing: border-box;
}
.main-container{

  width:20vw;
  margin: auto;
  padding-top:50px;

}

.game-grid{
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  border:5px solid #02008B;
 
  background-color: #ADD8E6;
  border-radius: 20px;
  padding:0;
  margin:0;
  grid-column-gap: 0;
}
.grid{
  text-align: center;
  border-right: 3px solid #02008B;
  border-bottom: 3px solid #02008B;
padding: 22px 0px 22px 0px ;
  font-weight: 900;
color:black;
  margin:0;
  cursor: pointer;
  height:70px;
  
}

.noBottom{
  border-bottom: none;
}

.noRight{
  border-right:none;
}

button{
  cursor: pointer;
}
